@import 'tailwindcss';

@theme {
  /*--------
      COLORS
      primary : neutral-800
      secondary: stone-100
      accent: violet-300
      bonus: gray-400

    --------*/
  --color-blue-50: #dfdff0;
  --color-blue-75: #dfdff2;
  --color-blue-100: #f0f2fa;
  --color-blue-200: #010101;
  --color-blue-300: #4fb7dd;
  --color-violet-300: #5724ff;
  --color-yellow-100: #8e983f;
  --color-yellow-300: #edff66;
  /*--------
    FONT-FAMILY
    --------*/
  --font-anton: 'anton', sans-serif;
  --font-poppins-light: 'poppins-light', sans-serif;
  --font-roboto: 'roboto', sans-serif;
}
